hw-3/make-blueprint.json
{
  "name": "HW3 вҖ” City вҶ’ AI HTML page (AirtableвҶ’OpenverseвҶ’GroqвҶ’GitHubвҶ’Email)",
  "flow": [
    {
      "id": 1,
      "module": "airtable:watchRecords",
      "version": 3,
      "parameters": {
        "connection": "",
        "base": "REPLACE_BASE_ID",
        "table": "REPLACE_TABLE_ID",
        "trigger": "lastModified",
        "label": "Last Modified",
        "limit": 2,
        "formula": ""
      },
      "mapper": {},
      "metadata": { "designer": { "x": 0, "y": 0 } }
    },
    {
      "id": 2,
      "module": "http:ActionSendData",
      "version": 3,
      "parameters": {},
      "filter": {
        "name": "New or Rejected",
        "conditions": [
          [ { "a": "{{1.Status}}", "b": "New", "o": "text:equal" } ],
          [ { "a": "{{1.Status}}", "b": "Rejected", "o": "text:equal" } ]
        ]
      },
      "mapper": {
        "url": "https://api.openverse.org/v1/images/",
        "method": "get",
        "qs": [
          { "name": "q", "value": "{{1.City}} city landmark" },
          { "name": "page_size", "value": "6" }
        ],
        "headers": [ { "name": "User-Agent", "value": "afeka-hw3/1.0" } ],
        "parseResponse": true
      },
      "metadata": { "designer": { "x": 300, "y": 0 } }
    },
    {
      "id": 3,
      "module": "http:ActionSendData",
      "version": 3,
      "parameters": {},
      "mapper": {
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "method": "post",
        "headers": [ { "name": "Authorization", "value": "Bearer REPLACE_GROQ_KEY" } ],
        "bodyType": "raw",
        "contentType": "application/json",
        "data": "{\n  \"model\": \"llama-3.3-70b-versatile\",\n  \"temperature\": 0.4,\n  \"messages\": [\n    { \"role\": \"system\", \"content\": \"PASTE_SYSTEM_PROMPT_FROM_prompt.md\" },\n    { \"role\": \"user\", \"content\": \"City/country: {{1.City}}. Use these 3 image URLs: {{2.data.results[1].url}}, {{2.data.results[2].url}}, {{2.data.results[3].url}}. {{if(1.Status = \\\"Rejected\\\"; \\\"Previous page rejected. User note: \\\" + 1.Note; \\\"\\\")}}\" }\n  ]\n}",
        "parseResponse": true
      },
      "metadata": { "designer": { "x": 600, "y": 0 } }
    },
    {
      "id": 4,
      "module": "github:createFile",
      "version": 1,
      "parameters": { "connection": "" },
      "mapper": {
        "owner": "hila24",
        "repo": "AfekaRot",
        "path": "hw-3/generated/{{replace(lower(1.City); \" \"; \"-\")}}-{{formatDate(now; \"YYYYMMDD-HHmmss\")}}.html",
        "content": "{{3.data.choices[1].message.content}}",
        "message": "hw-3: backup page for {{1.City}}",
        "branch": "main"
      },
      "metadata": { "designer": { "x": 900, "y": 0 } }
    },
    {
      "id": 5,
      "module": "airtable:updateRecord",
      "version": 3,
      "parameters": { "connection": "", "base": "REPLACE_BASE_ID", "table": "REPLACE_TABLE_ID" },
      "mapper": {
        "id": "{{1.id}}",
        "record": {
          "PageLink": "https://hila24.github.io/AfekaRot/{{4.path}}",
          "Status": "PendingApproval"
        }
      },
      "metadata": { "designer": { "x": 1200, "y": 0 } }
    },
    {
      "id": 6,
      "module": "email:ActionSendEmail",
      "version": 6,
      "parameters": { "account": "" },
      "mapper": {
        "to": [ "{{1.Email}}" ],
        "subject": "Ч”Ч“ЧЈ Ч©ЧңЧҡ ЧўЧ‘Ч•ЧЁ {{1.City}} ЧһЧ•ЧӣЧҹ вҖ” ЧңЧҗЧҷЧ©Ч•ЧЁ/Ч“Ч—ЧҷЧҷЧ”",
        "contentType": "html",
        "html": "<div dir='rtl' style='font-family:Arial'><h2>Ч”Ч“ЧЈ ЧўЧ‘Ч•ЧЁ {{1.City}} ЧһЧ•ЧӣЧҹ рҹҺү</h2><p>ЧҰЧӨЧҷЧҷЧ” Ч‘Ч“ЧЈ Ч”ЧһЧңЧҗ (ЧӣЧ•ЧңЧң ЧһЧӨЧ”): <a href='https://hila24.github.io/AfekaRot/{{4.path}}'>ЧңЧ—ЧҰЧ• ЧӣЧҗЧҹ</a></p><hr><p><b>ЧңЧ”Ч—ЧңЧҳЧ” Ч‘-Airtable:</b></p><ul><li>ЧңЧҗЧҷЧ©Ч•ЧЁ: Status = Approved.</li><li>ЧңЧ“Ч—ЧҷЧҷЧ”: Status = Rejected + ЧҗЧӨЧ©ЧЁ Note ЧңЧ©ЧҷЧӨЧ•ЧЁ вҖ” Ч•ЧҷЧҷЧ•Ч•ЧҰЧЁ Ч“ЧЈ Ч—Ч“Ч©.</li></ul></div>"
      },
      "metadata": { "designer": { "x": 1500, "y": 0 } }
    }
  ],
  "metadata": {
    "instant": false,
    "version": 1,
    "scenario": {
      "roundtrips": 1,
      "maxErrors": 3,
      "autoCommit": true,
      "autoCommitTriggerLast": true,
      "sequential": false,
      "confidential": false,
      "dataloss": false,
      "dlq": false,
      "freshVariables": false
    },
    "designer": { "orphans": [] },
    "zone": "eu2.make.com"
  }
}
